{% block content %} 


<div class="container">

	{% include "nav" %}

    <div class="topbar slide">

    	<a class="menu-button">
		    <ul class="burger">
		        <li></li><li></li><li></li>
		    </ul>
    	</a>
    	<p>This is a topbar</p>
    </div>

	<div class="full-cont slideshow slide">
		<div class="all-slides slides slide1"></div>
{% comment %}	<div class="all-slides slides slide2"></div>
	<div class="all-slides slides slide3"></div>{% endcomment %}
	</div>


    <div class="wrapper slide">
		<ul>
			<li>Content1</li>
			<li>Content2</li>
			<li>Content3</li>
			<li>Content4</li>
			<li>Content5</li>
			<li>Content6</li>
			<li>Content7</li>
			<li>Content8</li>
			<li>Content9</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
		</ul>
		<p class="push-down">Push Down</p>
    </div>

	<div class="pane1b-backdrop"></div>

	<div class="clear"></div>

    <footer class="footer-large slide">Footer</footer>
    <footer class="footer-mobile slide">Mobile Footer</footer>



</div>


{% endblock %}