@charset "UTF-8";


@import "normalize";
@import "reset";


html, body {
	overflow-x:hidden;
    height: 100%;
}

body {
	font: 14px "Helvetica Neue", sans-serif;
    background-color:#000;
}

.clear {clear: both;}
.drawer {overflow-y:auto;}

.container {
    width:100%;
    position:absolute;//position relative will scroll panels indepentantly but will cause issues on iOS (doesn't trigger UI autohide)
    left:0px;
    top:0px;
    overflow-x: hidden;
}

.fullscreen {height: 100%;}


////////////////////////////////// NAV

.nav-main {
    position: fixed;
    top: 0;
    right: 5px;
    z-index: 10;
    height: auto;
    overflow-y: auto;
}

.nav-main li {
    float: left;
    position: relative;
    z-index: 10;
}

.nav-main a {
    color: #3c2a15;
    padding: 0 15px;
    display: block;
    line-height: 75px;
}

////////////////////////////////// TOPBAR

.topbar{
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    line-height:75px;
    height:75px;
    background:#ddd;
    text-align:center;
    z-index:1;
}

.menu-button {display: none;}

.burger {
    position: absolute;
    float: left;
    padding: 10px;
    top: 13px;
    left: 10px;
}

.burger li {
    width: 26px;
    height: 3px;
    background-color: #3c2a15;
    border-radius: 3px;
    margin: 5px 0;
}

////////////////////////////////// FULL CONTAINER

.full-cont {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    background-color: #000000; 
    width: 100%;
    display: block;
    z-index: -1;
    // no height
}

.slides {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.slide1 {   
    background-image: url('http://placehold.it/1280x853&text=Slide1+(1280x853)');
    background-repeat: no-repeat;
    background-position: top center;
    // background-attachment: fixed;
    background-size: cover;
}

////////////////////////////////// CONTENT

.single-pane {
    float:left;
    margin-top: 75px;
    padding-bottom: 70px;
    background:white;
    display: inline-block;
    width:40%;
}

.double-pane-left {
    position: fixed;
    margin-top: 75px;
    margin-bottom: 140px;
    padding-bottom: 100px;
    background:white;
    display: inline-block;
    width:40%;
    height: auto;
    max-height: 100%;
    //Smooth scroll for iOS
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

.double-pane-right {
    float:right;
    margin-top: 75px;
    padding-bottom: 70px;
    background:white;
    display: inline-block;
    width:60%;
    overflow: hidden;
}

.push-down {
    display: inline-block;
    // padding-bottom: 80px;
}

.push-down-more {
    display: inline-block;
    margin-bottom: 140px;
}

.left-pane-backdrop {
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    width: 40%;
    background-color: #efefef;
    z-index: -1;

}

.right-pane-backdrop {
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    width: 60%;
    background-color: #a9a9a9;
    z-index: -1;

}

////////////////////////////////// FOOTER


.footer-large {
    position:fixed;
    width:100%;
    bottom:0px;
    left:0px;
    line-height:65px;
    background:#ddd;
    text-align:center;
    z-index:1;
}

.footer-mobile {
	display:none;
    position:fixed;
    width:100%;
    bottom:0px;
    left:0px;
    line-height:65px;
    background:#ddd;
    text-align:center;
    z-index:1;
}






@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}
    
@media only screen and (max-width: 768px) {


    ////////////////////////////////// TOPBAR

    .menu-button {display: block;}


    ////////////////////////////////// NAV

    .nav-cont { 
        position: fixed;
        top:0;
        height: 100%;
        width: 240px;
        background-color: green;
        overflow-x:hidden;
        //Smooth scroll for iOS
        overflow-y:auto;
        -webkit-overflow-scrolling: touch;
    }

    .nav-main{
        position:absolute;
        top:0px;
        left:0px;
        width:240px;
        color:white;
        z-index: 0;
    }

    .nav-main li {
        display: block;
        float: none;
    }

    .nav-main li a {
        padding: 10px 0 10px 10px;
        letter-spacing: 3px;
        font-size: 16px;
        color:#ffffff;
        line-height: 5px;
        background-color: maroon;
        margin-bottom: 2px;
    }


    ////////////////////////////////// FULL CONTAINER

    .full-cont {z-index: 0;} //move up so not behind nav


    ////////////////////////////////// CONTENT

    .single-pane {
        margin-top: 85px;
        padding-bottom: 70px;
        background:white;
        display: inline-block;
        width:95%;
        margin-left: 2.5%;
    }

    .double-pane-left {display: none;}
    .double-pane-right {
        float:none;
        margin-top: 85px;
        padding-bottom: 70px;
        background:white;
        display: inline-block;
        width:95%;
        margin-left: 2.5%;
    }


    ////////////////////////////////// CONTENT

    .footer-large {display: none;}
    .footer-mobile {display: block;}


    ////////////////////////////////// ANIMATION

    .drawer {
        -webkit-transition:-webkit-transform .2s ease-in-out;
        -webkit-transform: translate(0,0);
    }

    .container.open .drawer {
        -webkit-transform: translate(240px,0);
    }

    .container.close .drawer {
        -webkit-transform: translate(0,0);
    }



}


@media only screen and (max-width: 540px) {

}

@media only screen and (max-width: 320px) {

}