@charset "UTF-8";


@import "normalize";
@import "reset";


html, body {
    overflow-x:hidden;
    height: 100%;
}

body {
    background-color:#000;
    font: 14px "Helvetica Neue", sans-serif;
}

.clear {clear: both;}
.drawer {overflow-y:auto;}

.container {
    position:absolute;//position relative will scroll panels indepentantly but will cause issues on iOS (doesn't trigger UI autohide)
    top:0px;
    left:0px;
    overflow-x: hidden;
    width:100%;
}

.fullscreen {height: 100%;}


////////////////////////////////// NAV

.nav-main {
    position: fixed;
    top: 0;
    right: 5px;
    z-index: 10;
    overflow-y: auto;
    height: auto;
}

.nav-main li {
    position: relative;
    z-index: 10;
    float: left;
}

.nav-main a {
    display: block;
    padding: 0 15px;
    color: #3c2a15;
    line-height: 75px;
}

////////////////////////////////// TOPBAR

.topbar{
    position:fixed;
    top:0px;
    left:0px;
    z-index:1;
    width:100%;
    height:75px;
    background:#ddd;
    text-align:center;
    line-height:75px;
}

.menu-button {display: none;}

.burger {
    position: absolute;
    top: 13px;
    left: 10px;
    float: left;
    padding: 10px;
}

.burger li {
    margin: 5px 0;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #3c2a15;
}

////////////////////////////////// FULL CONTAINER

.full-cont {
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    z-index: -1;
    display: block; 
    width: 100%;
    background-color: #000000;
    // no height
}

.slides {
    position: absolute;//'fixed' breaks in IE
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.slide1 {   
    background-image: url('http://placehold.it/1280x853&text=Slide1+(1280x853)');
    background-position: top center;
    // background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

////////////////////////////////// CONTENT

.single-pane {
    display: inline-block;
    float:left;
    margin-top: 75px;
    padding-bottom: 70px;
    width:40%;
    background:white;
}

.double-pane-left {
    position: fixed;
    margin-top: 75px;
    margin-bottom: 140px;
    padding-bottom: 100px;
    background:white;
    display: inline-block;
    width:40%;
    height: auto;
    max-height: 100%;
    //Smooth scroll for iOS
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

.double-pane-right {
    display: inline-block;
    float:right;
    overflow: hidden;
    margin-top: 75px;
    padding-bottom: 70px;
    width:60%;
    background:white;
}

.push-down {
    display: inline-block;
    // padding-bottom: 80px;
}

.push-down-more {
    display: inline-block;
    margin-bottom: 140px;
    padding-bottom: 140px;//for Firefox and IE
}

.left-pane-backdrop {
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    z-index: -1;
    width: 40%;
    background-color: #efefef;

}

.right-pane-backdrop {
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    z-index: -1;
    width: 60%;
    background-color: #a9a9a9;

}

////////////////////////////////// FOOTER


.footer-large {
    position:fixed;
    bottom:0px;
    left:0px;
    z-index:1;
    width:100%;
    height: 65px;
    background:#ddd;
    text-align:center;
    line-height:65px;
}

.footer-mobile {
    display:none;
    position:fixed;
    bottom:0px;
    left:0px;
    z-index:1;
    width:100%;
    height: 65px;
    background:#ddd;
    text-align:center;
    line-height:65px;
}




// Media Queiries will not be operational for =<IE8
//CSS3 Transitions not supported for =<IE9
//CSS3 Transform not supported for =<IE8 (IE9 supports the -ms-transform property (2D transforms only))


@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}
    
@media only screen and (max-width: 768px) {


    ////////////////////////////////// TOPBAR

    .menu-button {display: block;}


    ////////////////////////////////// NAV

    .nav-cont { 
        position: fixed;
        top:0;
        overflow-x:hidden;
        //Smooth scroll for iOS
        overflow-y:auto;
        width: 240px;
        height: 100%;
        background-color: green;
        -webkit-overflow-scrolling: touch;
    }

    .nav-main{
        position:absolute;
        top:0px;
        left:0px;
        z-index: 0;
        width:240px;
        color:white;
    }

    .nav-main li {
        display: block;
        float: none;
    }

    .nav-main li a {
        margin-bottom: 2px;
        padding: 10px 0 10px 10px;
        background-color: maroon;
        color:#ffffff;
        letter-spacing: 3px;
        font-size: 16px;
        line-height: 5px;
    }


    ////////////////////////////////// FULL CONTAINER

    .full-cont {z-index: 0;} //move up so not behind nav


    ////////////////////////////////// CONTENT

    .single-pane {
        display: inline-block;
        margin-top: 85px;
        margin-left: 2.5%;
        padding-bottom: 70px;
        width:95%;
        background:white;
    }

    .double-pane-left {display: none;}
    .double-pane-right {
        float:none;
        display: inline-block;
        margin-top: 85px;
        margin-left: 2.5%;
        padding-bottom: 70px;
        width:95%;
        background:white;
    }


    ////////////////////////////////// CONTENT

    .footer-large {display: none;}
    .footer-mobile {display: block;}


    ////////////////////////////////// ANIMATION

    .drawer {
        -webkit-transition:-webkit-transform .2s ease-in-out;
        -moz-transition:-moz-transform .2s ease-in-out;
        // -ms-transition:-ms-transform .2s ease-in-out;
        transition:transform .2s ease-in-out;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);//For IE9
        transform: translate(0,0);
    }

    .container.open .drawer {
        -webkit-transform: translate(240px,0);
        -moz-transform: translate(240px,0);
        -ms-transform: translate(240px,0);//For IE9
        transform: translate(240px,0);
    }

    .container.close .drawer {
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);//For IE9
        transform: translate(0,0);
    }



}


@media only screen and (max-width: 540px) {

}

@media only screen and (max-width: 320px) {

}